<div class="card-panel">
	
<p>
  <strong>Pergunta:</strong>
  <%= @dant_question.pergunta %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @dant_question.texto %>
</p>

</div>
<%= link_to 'Voltar', dant_questions_path, class:"btn" %>
