<div class="card-panel">
	
<p>
  <strong>Titulo:</strong>
  <%= @dst_questionario.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @dst_questionario.descricao %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @dst_questionario.ativo %>
</p>

</div>
<%= link_to 'Voltar', dst_questionarios_path, class:"btn" %>
