<div class="row">
  <div class="col s12 l3">
    <div class="card-panel center teal white-text">
      <h1>Pacientes</h1>
        <h3><%= @pacientes.size %></h3>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card-panel center blue lighten-4 white-text">
      <h1>Notificações</h1>
      <h3><%= @notificacoes.size %></h3>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card-panel center lime  white-text">
      <h1>Contatos</h1>
      <h3><%= @contatos.size %></h3>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card-panel center deep-purple lighten-3  white-text">
      <h1>Maior incidência</h1>
      <span><%= @incidencia.nome %></span>
    </div>
  </div>
</div>