<div class="card">
  <h1 class="center-align">Mapa dos Pacientes</h1>
</div>
<div class="card-panel">
<div class="row">
  <div class="input">
    <label for="cidade">Cidade</label>
    <%= select_tag :cidade, options_from_collection_for_select(@cidades,:id,:nome),{include_blank:true, class:"browser-default select2" }%>
  </div>
</div>
<br>
<div class="row">
  <div id="map" style="width: 100%;height: 500px"></div>
</div>
</div>
<script>

  var cidades;
  var cidade_selecionada;
  $(document).ready(function()
  {
      cidades = <%= @cidades.map{|a| {id: a.id,nome: a.nome, location:{lat: a.latitude.gsub!(',','.').to_f, lng: a.longitude.gsub!(',','.').to_f} }}.to_json.to_s.html_safe  %>;
     $("#cidade").on('change',function()
     {
         var id = $(this).val();
         cidade_selecionada = $.grep(cidades, function(e){ return e.id == id; });
         console.log(cidade_selecionada);
         initMap();
     });
  });

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: {lat: cidade_selecionada[0].location.lat, lng: cidade_selecionada[0].location.lng}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = pacientes.map(function(paciente, i)
        {
            var maker = new google.maps.Marker({
                position: paciente.location,
                label: labels[i % labels.length]
            });
            maker.addListener('click',function(){
                abrirInfoWindow(i,map,maker);
            });
            return maker;
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: '/images/map_cluster/'});
    }

    var pacientes = <%= @pacientes.map{|a| {id: a.id,nome: a.nome, location:{lat: a.latitude.to_f, lng: a.longitude.to_f} }}.to_json.to_s.html_safe %>;

    function abrirInfoWindow(i,map,maker)
    {
        var paciente = pacientes[i];
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><a href="/pacientes/'+paciente.id+'">'+paciente.nome+'</a></h1>'+
            '<div id="bodyContent">'+
            '<p></p>'+
            '</div>'+
            '</div>';

        var infoWindow = new google.maps.InfoWindow({content: contentString});
        infoWindow.open(map,maker);
    }

</script>
<script src="/js/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWFnF5py8BuNUpvpcvuAVZQxJAm36NTA8">//&callback=initMap
</script>