<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Tipo</th>
  </tr>
  </thead>

  <tbody>
  <% exames.each do |e| %>
      <tr>
        <td><%= e.dermatologica %></td>

      </tr>
  <% end %>
  </tbody>
</table>