<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nervo</th>
  </tr>
  </thead>

  <tbody>
  <% dados.each do |e| %>
      <tr>
        <td><%= e.nervo_text %></td>

      </tr>
  <% end %>
  </tbody>
</table>