<div class="card">
  <h1 class="center-align">Responsável pelo Programa</h1>
</div>

<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @dant_responsavel_program.nome %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @dant_responsavel_program.cargo %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @dant_responsavel_program.cidade %>
</p>

</div>
<%= link_to 'Voltar', dant_responsavel_programs_path, class:"btn" %>
