<div class="card-panel">
	
<p>
  <strong>Miligramas:</strong>
  <%= @esquema_substitutivo.miligramas %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @esquema_substitutivo.medicamento %>
</p>

<p>
  <strong>Notificacao:</strong>
  <%= @esquema_substitutivo.notificacao %>
</p>

</div>
<%= link_to 'Voltar', esquema_substitutivos_path, class:"btn" %>
