<div class="row">
  <div class="col s12 l4">
    <div class="card-panel center-align">
      <h1>
        <%= link_to "Hanseníase", home_notificacaos_path %>
      </h1>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card-panel center-align">
      <h1>
        <%= link_to "Dant", "/dant/dant_requests" %>
      </h1>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card-panel center-align">
      <h1>
        <%= link_to "DST", "/dst/dst_solicitacaos" %>
      </h1>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card-panel center-align">
      <h1>
        <%= link_to "Imunização", "/imunizacao/imunizacao_solicitacaos" %>
      </h1>
    </div>
  </div>
</div>