<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @monofilamento.nome %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @monofilamento.cor %>
</p>

<p>
  <strong>Interpretacao:</strong>
  <%= @monofilamento.interpretacao %>
</p>

</div>
<%= link_to 'Voltar', monofilamentos_path, class:"btn" %>
