<div class="card-panel">

<p>
  <strong>Avaliacao notificacao:</strong>
  <%= @avaliacao_neurologica.avaliacao_notificacao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @avaliacao_neurologica.data %>
</p>

</div>
<%= link_to 'Voltar', avaliacao_neurologicas_path, class:"btn" %>
