<div class="row">
  <div class="col s2">
    <img src="/images/reabsorcao.png" alt="">
  </div>
  <div class="col s10">
    Reabsorção
  </div>
</div>
<div class="row">
  <div class="col s2">
    <img src="/images/garramovel.png" alt="">
  </div>
  <div class="col s10">
    Garra Móvel
  </div>
</div>
<div class="row">
  <div class="col s2">
    <img src="/images/garrarigida.png" alt="">
  </div>
  <div class="col s10">
    Garra Rígida
  </div>
</div>
<div class="row">
  <div class="col s2">
    <img src="/images/ferida.png" alt="">
  </div>
  <div class="col s10">
    Ferida
  </div>
</div>