<div class="card-panel">
	
<p>
  <strong>Avaliacao notificacao:</strong>
  <%= @avaliacao_sensitiva.avaliacao_notificacao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @avaliacao_sensitiva.data %>
</p>

  <% @avaliacao_sensitiva.sensitiva_images.each do |s| %>
      <img src="<%= s.imagem.url %>" alt="">
  <% end %>

</div>
<%= link_to 'Voltar', avaliacao_sensitivas_path, class:"btn" %>
