<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @imunizacao_vacina.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @imunizacao_vacina.descricao %>
</p>

</div>
<%= link_to 'Voltar', imunizacao_vacinas_path, class:"btn" %>
