<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <% avaliacao_sensitivas.each_with_index  do |avaliacao_sensitiva, index| %>
      <tr>
        <td><%= link_to index + 1, edit_avaliacao_sensitiva_path(avaliacao_sensitiva), target:"_self"  %></td>
        <td><%= avaliacao_sensitiva.data%></td>
        <td><%= link_to 'Excluir', avaliacao_sensitiva, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>