<div class="print">
  <div class="row" style="padding: 0">
    <div class="col s2">
      <img src="/images/brasao_estado.jpg" alt="" width="100px"> <br>
    </div>
    <div class="col s8 center-align" style="font-size: 10px;padding: 0">

      <p style="line-height: 5px">GOVERNO DO ESTADO DO TOCANTINS</p>
      <p style="line-height: 5px">SECRETARIA DE ESTADO DA SAÚDE</p>
      <p style="line-height: 5px">SUPERINTENDÊNCIA DE VIGILÂNCIA, PROMOÇÃO E PROTEÇÃO À SAÚDE</p>
      <p style="line-height: 5px">DIRETORIA DE VIGILÂNCIA EPIDEMIOLÓGICA DAS DOENÇAS TRANSMISSÍVEIS E NÃO TRANSMISSÍVEIS</p>
      <p style="line-height: 5px">GERÊNCIA DE DOENÇAS TRANSMISSÍVEIS</p>
      <p style="line-height: 5px">ASSESSORIA DE HANSENÍASE</p>

    </div>
    <div class="col s2">
      <img src="/images/logo_hanseniase.png" alt="" width="100px">
    </div>
  </div>
  <p style="font-size: 10px"><span>Ligue-Hansen: 0800 642 7100</span><span style="float: right">E-mail: hanseniasetocantins@gmail.com</span></p>

</div>